<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>编辑博客</title>
</head>

<body>
<h1>博客编辑页面：</h1>
<form action = '/users/signup' method = 'post' enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value = "提交博客" />
</form>
<br>
<a href="/users/signin">前往主页</a>
</body>
</html>